# Module 1: Data validation and pre-processing technique

In [1]:
#import library packages
import pandas as p
import numpy as n

In [2]:
#Load given dataset
data = p.read_csv('spam.csv', encoding='latin-1')
del data["Unnamed: 2"]
del data["Unnamed: 3"]
del data["Unnamed: 4"]

Before drop the given dataset:

In [3]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
#shape
data.shape

(5572, 2)

After drop the given dataset:

In [5]:
data = data.rename(columns={"v1":"label", "v2":"text"})

In [6]:
df=data.dropna()
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.shape

(5572, 2)

In [8]:
#show columns
df.columns

Index(['label', 'text'], dtype='object')

In [9]:
#To describe the dataframe
df.describe()

       label                    text
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [10]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 130.6+ KB

Checking duplicate values of dataframe:

In [11]:
#Checking for duplicate data
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5567    False
5568    False
5569    False
5570    False
5571    False
Length: 5572, dtype: bool

In [12]:
#find sum of duplicate data
sum(df.duplicated())

403

In [13]:
#Checking sum of missing values
df.isnull().sum()

label    0
text     0
dtype: int64

After Pre-Processing:

In [14]:
df.columns

Index(['label', 'text'], dtype='object')

In [15]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['label', 'text']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [16]:
df.head()

  label  text
0     0  1079
1     0  3101
2     1  1000
3     0  4088
4     0  2757